# IDE
.vscode/
.idea/
*.swp
*.swo

# Python

*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Selenium
webdriver/
chromedriver*
geckodriver*

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db